################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/AWSMovieLister/.vs/AWSMovieLister
/Source/AWSMovieLister/AWSMovieLister/obj/Debug
/Source/AWSMovieLister/AWSMovieLister/bin/Debug
/Source/AmazonPrimeVideoSearch/.vs/AmazonPrimeVideoSearch/v15
/Source/AmazonPrimeVideoSearch/.vs/config
/Source/AmazonPrimeVideoSearch/AmazonPrimeVideoSearch/bin/Debug/netcoreapp2.1
/Source/AmazonPrimeVideoSearch/AmazonPrimeVideoSearch/obj
/Source/AmazonPrimeVideoSearch/AmazonPrimeVideoSearch/wwwroot/Scripts/typings/datatypes
/Source/AmazonPrimeVideoSearch/AmazonPrimeVideoSearch/wwwroot/Scripts
