################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/AWSMovieLister/.vs/AWSMovieLister
/Source/AWSMovieLister/AWSMovieLister/obj/Debug
/Source/AWSMovieLister/AWSMovieLister/bin/Debug
